<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1 style="text-align: center">Register Form</h1>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    Email: <input formControlName="email" type="email" class="form-control">
    <div class="alert alert-danger" role="alert" *ngIf="mail.invalid">
      Invalid Email and required!
    </div>
    <div formGroupName="pwGroup">
      Password: <input formControlName="password" type="password" class="form-control">
      <div class="alert alert-danger" role="alert" *ngIf="registerForm.invalid && registerForm.touched"> Password is
        required
      </div>
      Confirm Password: <input formControlName="confirmPassword" type="password" class="form-control">
      <div class="alert alert-danger" role="alert"
           *ngIf="registerForm.hasError('passwordnotmatch',['pwGroup']) && registerForm.get('pwGroup').touched">
        Password does not math
      </div>
    </div>
    Country: <input type="text" class="form-control" formControlName="country">
    <div class="alert alert-danger" role="alert"
         *ngIf="registerForm.get('country').invalid && registerForm.get('country').touched">You have to input ur country
    </div>
    Age: <input type="number" class="form-control" formControlName="age">
    <div class="alert alert-danger" role="alert"
         *ngIf="registerForm.get('age').invalid && registerForm.get('age').touched">Age must be above 18!
    </div>
    <div>
      Gender:

      <label><input type="radio" value="female" formControlName="gender">Female</label>
      <label> <input type="radio" value="male" formControlName="gender">Male</label>
      <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('gender').invalid && registerForm.get('gender').touched">
        You have to confirm your gender!
      </div>
    </div>
    Phone number: <input type="number" class="form-control" formControlName="phone">
    <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">
      Your phone number is wrong type!
    </div>


    <input type="submit" value="submit">
  </form>
</div>
<pre>
  {{registerForm.value | json}}
</pre>
